
p{
    margin: 20px;
    font-size: medium;
}
ion-grid{
    margin-left: 10%;
  margin-right: 10%;
}

ion-card{
    border-radius: 20px  20px 0 0;
}

ion-card-title{
    background-color: #815295;
    color: #fff;
    text-align: center;
}

ion-icon{
    margin-left:20px
}

.subtitulo{
    margin-top: 0%;
    height: 60px;
    display: flex;
    justify-content: center;
     align-items: center;
}

.calendario{
    margin: 2% 0 0 10%;
    padding: 1%;
}
.titulo{
    display: flex;
    justify-content: center;
     align-items: center;
}