<ion-content>
  <ion-navigation-menu></ion-navigation-menu>
  <div class="background">
    <div class="contenido">
    <h1 id="titulo">Planes de pago</h1>
    <br>
    <h2>Subscríbete y potencia tu mente</h2>
    <br>
      <ion-grid>
        <ion-row>
          <ion-col class="columna-1" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <ion-card>
              <ion-card-content>
                <ion-icon src="../../../assets/bag-handle-outline.svg" ></ion-icon>
                <br>
                <br>
                <br>
              <h2>1 sesión </h2>
              <h3> Mensual</h3>
                <br>
              <h1>$550.00 <small>MXN</small></h1>
              <br>
            <ion-button class="btn"
                        expand="full"
                        shape="round"
                        >
                        <h4>Comprar</h4></ion-button>
            </ion-card-content>
              </ion-card>
          </ion-col>
          <ion-col class="columna-1" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <ion-card>
              <ion-card-content>
                <ion-icon src="../../../assets/bag-handle-outline.svg" ></ion-icon>
                <br>
                <br>
                <br>
              <h2>3 sesiones </h2>
              <h3> Mensual</h3>
                <br>
              <h1>$1,600.00 <small>MXN</small></h1>
              <br>
            <ion-button expand="full"
                        shape="round"
                        >
                        <h4>Comprar</h4></ion-button>
            </ion-card-content>
              </ion-card>
          </ion-col>
          <ion-col class="columna-1" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <ion-card>
              <ion-card-content>
                <ion-icon src="../../../assets/bag-handle-outline.svg" ></ion-icon>
                <br>
                <br>
                <br>
              <h2>4 sesiones </h2>
              <h3> Mensual</h3>
                <br>
              <h1>$1,980.00  <small>MXN</small></h1>
              <br>
            <ion-button expand="full"
                        shape="round"
                        >
                        <h4>Comprar</h4></ion-button>
            </ion-card-content>
              </ion-card>
          </ion-col>
          <ion-col class="columna-1" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <ion-card>
              <ion-card-content>
                <ion-icon src="../../../assets/bag-handle-outline.svg" ></ion-icon>
                <br>
                <br>
                <br>
              <h2>10 sesiones </h2>
              <h3> Mensual</h3>
                <br>
              <h1>$4,675.00<small>MXN</small></h1>
              <br>
            <ion-button expand="full"
                        shape="round"
                        >
                        <h4>Comprar</h4></ion-button>
            </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    <h6>En caso de tener un código de descuento, este solo se aplicará en su primera compra</h6>
  </div>
  </div>
  <div class="piePagina"></div>
</ion-content>
