<div>
  <ion-item>
    <a href="/home/">
      <ion-img src="assets/logo_color.png"></ion-img>
    </a>
  </ion-item>
  <ion-item>
    <a href="/therapists/">
    <ion-label>Especialistas</ion-label>
    </a>
  </ion-item>
  <ion-item>
    <a href="/plans/">
      <ion-label>Planes de pago</ion-label>
    </a>
  </ion-item>
  <ion-item>
    <a href="/schedule/">
      <ion-label>Agenda tu cita</ion-label>
    </a>
  </ion-item>
  <ion-item>
    <a href="/chat/">
    <ion-label>Mi sesión</ion-label>
  </a>
  </ion-item>
  <ion-item [button]="true" (click)="presentPopover($event)">
      <ion-icon src="/assets/person-circle-outline.svg"></ion-icon>
        <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
         <ng-template>
          <ion-content class="ion-padding"><a href="/my-account/"><ion-icon  src="/assets/person-circle-outline.svg"></ion-icon><ion-label>Mi cuenta</ion-label></a></ion-content>
          <ion-content class="ion-padding"><ion-icon src="/assets/log-out-outline.svg" ></ion-icon><ion-label>Log out</ion-label></ion-content>
          </ng-template>
        </ion-popover>
  </ion-item>
</div>
