<ion-content>
  <ion-navigation-menu></ion-navigation-menu>
<div class="titulos">
  <br>
  <h1>Bienvenido a Mind2</h1>
  <br>
  <h2>¿Cómo usar Mind2?</h2>
</div>
<br>
<br>
<br>
<div class="pasos">
<ion-grid>
  <ion-row class="caja">
    <ion-col size-lg="2" size-md="6" size-sm="12" size-xs="12">
      <div class="icono"><ion-icon src="../../../assets/search-circle-outline.svg"></ion-icon></div>
      <h3>Paso 01</h3>
    <p>Busca el especialista de tu mayor interés en el espacio "Especialistas" y asignatelo o contáctanos en el chat de servicio en el espacio “Mi sesión” y nosotros te lo asignaremos</p>
    </ion-col>
    <ion-col size-lg="2" size-md="6" size-sm="12" size-xs="12">
      <div class="icono"></div>
      <h3>Paso 02</h3>
    <p>Una vez que te hayas asignado un especialista tendras la posibilidad de entablar una conversación con el o ella en el espacio "Mi sesión"</p>
    </ion-col>
    <ion-col size-lg="2" size-md="6" size-sm="12" size-xs="12">
      <div class="icono"></div>
      <h3>Paso 03</h3>
    <p>Obten el paquete de sesiones más coveniente para ti dentro del espacio "Planes de pago"</p>
    </ion-col>
    <ion-col size-lg="2" size-md="6" size-sm="12" size-xs="12">
      <div class="icono"></div>
      <h3>Paso 04</h3>
    <p>Agenda tus citas dependiendo del día y horario disponible para ti y tú especialista dentro del espacio "Agendar cita"</p>
    </ion-col>
    <ion-col size-lg="2" size-md="6" size-sm="12" size-xs="12">
      <div class="icono"></div>
      <h3>Paso 05</h3>
    <p>Comienza con tus sesiones</p>
    </ion-col> 
  </ion-row>
</ion-grid>
</div>
<div class="piePagina">
</div>
</ion-content>
