<ion-content>
  <div class="backgroundIniciarSesion">
  </div>
  <div class="fondoIniciarSesion">
  </div>
  <div class="contenido">
  <ion-img class="d-flex-center" src="assets/logo_white.png"></ion-img>
  <br>
  <h1 class="d-flex-center">Potencia tu mente</h1>
  <br>
  <br>
  <br>
  <ion-button routerLink="/login-patient/"
              expand="full"
              size="large"
              shape="round"
              style="text-transform:none">
    Entrar
  </ion-button>
  <br>
  <br>
  <br>
  <ion-button routerLink="/sign-up-patient/"
              expand="full"
              size="large"
              fill="outline"
              color="light"
              shape="round"
              style="text-transform:none">
    Registrarse
  </ion-button>
  <br>
  <br>
  <br>
  <ion-button routerLink="/login-therapist/"
              expand="full"
              size="large"
              color="secondary"
              shape="round"
              style="text-transform:none">
    Soy Terapeuta
  </ion-button>
</div>

</ion-content>


