.backgroundIniciarSesion {
    background-image: url('../../assets/back_1.jpg');
    background-color: transparent;
    background-position: center center;
    position: relative;
    width:  100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: cover;
      }
    
.fondoIniciarSesion {
    background-color: #000000;
    opacity: 0.5;
    background-position: center center;
    position: absolute;
    z-index: 1;
    width:  100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: cover;
}

@media (max-width:520px){
    h1{
        color: #fff;
        font-weight: bold;
        font-size: 2em;
    }

    ion-img{
        max-width: 70%;
        max-height: 70%;
        position: relative;
        margin-left: 55px;
        
    }
  
        
    .contenido{
        text-align: center;
        position: absolute;
        z-index: 2;
        width: 300px;
        top: 15%;
        left: 12%;
    }
    }

@media (min-width:520px){
    h1{
        color: #fff;
        font-weight: bold;
        font-size: 2.9em;
    }

    ion-img{
        max-width: 100%;
        max-height: 100%;
        position: relative;
    }

    .contenido{
        text-align: center;
        position: absolute;
        z-index: 2;
        width: 400px;
        top: 12%;
        left: 12%;
    }
    }
