<ion-content>
  <div class="backgroundIniciarSesion">
  </div>
  <div class="fondoIniciarSesion">
  </div>
  
    <ion-img src="assets/logo_white.png"></ion-img>


  <div class="contenido"> 
    <ion-text color="light">
      <h1>Entrar a Mind<sup>2</sup></h1>
    </ion-text>
  <br>
  <br>
    <form> 
      <ion-item class="backgroundItem" color="none" lines="inset">
        <ion-label position="floating"
                   color="light">Correo electrónico</ion-label>
        <ion-input color="light"
                   type="email"
                   name="email"
                   required></ion-input>
      </ion-item>
      <ion-item class="backgroundItem" color="none" lines="inset">
        <ion-label position="floating"
                   color="light">Contraseña</ion-label>
        <ion-input color="light"
                   type="password"
                   name="password"
                   minlength="6"
                   required></ion-input>
      </ion-item>
      <br><br>
      <ion-button [routerLink]="['/home/']"  
                  expand="full"
                  size="large"
                  shape="round"
                  type="submit">Ingresar</ion-button>
    </form>
  <br>
    <ion-button [routerLink]="['/login-therapist/']"
              color="light"
              fill="clear"
              expand="full"
              class="ion-margin"
              >Soy Terapeuta</ion-button>

  <ion-button color="light"
              fill="clear"
              expand="full"
              >Olvidé mi contraseña</ion-button>

  <br>

  <ion-button 
              color="light"
              fill="clear"
              expand="block">Reenviar correo de verificación</ion-button>
  
  <br>
  <ion-button [routerLink]="['/sign-up-patient/']"
              expand="full"
              size="large"
              shape="round"
              color="secondary"
              >Registrarme</ion-button>
  </div>

</ion-content>