*{margin:4px;padding: 0;}
ion-list{
  text-align:center;
}

ion-item{
  font-size: 16px;
  display:inline-block;
  width:10%;
  padding:5px 5px;
  text-align:center;
  color: #6A6969;
}

a{
  color: #6A6969;
  text-decoration:none;
}

ion-item ion-icon:hover{
  background-color: #fff !important;
  color:#581973 !important;
  }

a:hover{
  background-color: #fff !important;
  color:#581973 !important;
}

ion-label{
  color: #6A6969;
}

ion-icon{
  color: #6A6969;
  size: 32px;
}

